<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="nav_var"></div>



    <div id="app">
        <div class="product">

            <div class="product_image">
                <img v-bind:src="image">
            </div>

            <div class="product_info">
                <h1>{{ product }}</h1>
                <p v-if="inStock">in Stock</p>
                <!-- <p v-else-if="inventry <= 10 && inventry > 0">Almost sold out!</p> -->
                <p v-else>out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
                </div>

                <button v-on:click="addToCart">カートに入れる</button>

                <div class="cart">
                    <p>カート({{cart}})</p>
                </div>


            </div>




        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>

</body>
</html>